*{
    padding : 0;
    margin : 0;
    font-family : 'Josefin Sans' , sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #39918c;

}

a{
    color : white;
    text-decoration: none;
}

.navbar{
    position : fixed;
    top : 0;
    left : 0;
    width: 100%;
    padding :25px 9%;
    background: #d0b49f;
    display : flex;
    justify-content : space-between;
    align-items: center;
    z-index : 100;
}

.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}

.navbar ul{
    display: flex;

}

.navbar ul li{
    list-style: none;
    margin-left : 35px;
}

.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
}